<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href={{ "/" | relative_url }}>{{ site.title | escape }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown" style="text-decoration: none;">
          <a href={{ "/posts" | relative_url }}>Updates</a>
        </li>
        <li class="nav-item dropdown" style="text-decoration: none;">
          <a href={{ "2023wintercamp/" | relative_url }}>Winter Camp 2023 &#9660;</a>
          <div class="dropdown-content">
            <a href={{ "/2023wintercamp/logistics" | relative_url }}>Logistics</a>
            <a href={{ "/2023wintercamp/modules" | relative_url }}>Curriculm</a>
            <a href={{ "/2023wintercamp/schedule" | relative_url }}>Schedule</a>
          </div>
        </li>
        <li class="nav-item dropdown" style="text-decoration: none;">
          <a href={{ "resources/" | relative_url }}>Resources &#9660;</a>
          <div class="dropdown-content">
            <a href={{ "/resources/bysport" | relative_url }}>By Sport &#9660;</a>
            <a href={{ "/resources/tech" | relative_url }}>Tech</a>
            <a href={{ "/resources/statistics" | relative_url }}>Stats</a>
          </div>
        </li>
        <li class="nav-item dropdown" style="text-decoration: none;">
          <a href={{ '/about' | relative_url }}> About &#9660;</a>
          <div class="dropdown-content">
            <a href={{ "/about/about-academy" | relative_url }}> Sports Analytics Academy </a>
            <a href={{ "/past/hof" | relative_url }}> Optimal Decisions </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>